KEEP_EMAIL=you@gmail.com
KEEP_MASTER_TOKEN=
KEEP_KEEPALIVE_POLL_SECONDS=3600
KEEP_USE_MOCK=false
KEEP_STATE_FILE=keep_state.json
PORT=3001

PRINTER_TRANSPORT=bluetooth_ble
PRINTER_BLE_DEVICE_NAME=ReceiptPrinter
PRINTER_BLE_DEVICE_ADDRESS=
PRINTER_BLE_SCAN_TIMEOUT_SECONDS=8
PRINTER_BLE_CONNECT_TIMEOUT_SECONDS=10
PRINTER_WRITE_CHUNK_SIZE=180
PRINTER_JOB_FEED_LINES=6
PRINTER_AUTO_CUT=true
PRINTER_CONNECT_PER_JOB=true

ESP32_PRINT_URL=http://ReceiptPrinter.local/print
ESP32_API_TOKEN=