WIFI_SSID=mywifi
WIFI_PASSWORD=password
API_TOKEN=abc123
PRINTER_NAME=TM-m30III
PROTOCOL_TYPE=http
MQTT_BROKER=192.168.1.555
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_PRINT_TOPIC=receiptPrinter/print